body {
    background-image: url("/images/hatter.png");
}

header {
    background-color: orange;
    text-align: center;
    padding-top: 20px;
    height: 100px;
}

h1 {
    margin: auto;
}

.vastag{
    font-weight: bold;
}

.bgn {
    background-color: orange;
}

.jumbotron {
    margin-bottom: 2-rem;
    padding: 2rem 1rem;
    border-radius: .3rem;
    text-align: center;
}



#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.card {
    margin-top: 10px;
}

.nav-link {
    color: orange;
    font-style: italic;
}

nav {
    text-align: center;
    margin-top: 20px;
}

h1, h2 {
    font-weight:bold;
}
