table {
    border-collapse: collapse;
    border: 1px solid, lightgrey;
}
thead {
    background-color: rgb(112, 173, 71);
    color: white;
}
tfoot {
    background-color: rgb(210, 178, 83);
    color: black;
    font-weight: bold;
}
tr:nth-child(2n) {
    background-color: white;
    color: black;
}
tr:nth-child(2n) {
    background-color: rgb(226, 239, 218);
    color: black;
}
